@import "tailwindcss";

.mouse {
  width: 30px;
  height: 45px;
  border: 1px solid black;
  @apply dark:border-white;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  @apply dark:bg-white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
    to {
      opacity: 0;
      top: 40px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 40px;
    }
  }
